<%- include('partials/header') -%>

<header class="container">
    <div class="text-center">
      <h1 class="title"><a href="/profile">Quicker Pound</a></h1>
      <span>Leon's Army #100Devs Social Network</span>
    </div>
</header>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-dark"> Login</a>
        <a href="/signup" class="col-3 btn btn-dark"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>