<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/mainPage.css">
  <title>Main Page</title>

</head>
<body>
  <div>
    <h1>Quicker pound</h1>
    <h2>Profile</h2>   
  </div>
<button>Logout</button>
  <h2>Add a post</h2>
 <form action="" method="get">
    <div>
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title"  name="title">
    </div>
      <div>
        <label for="caption">Caption</label>
        <textarea id="caption" name="caption"></textarea>
      </div>
      <div>
        <label for="imgUpload">Image</label>
        <input type="file" id="imageUpload" name="file">
      </div>
      <button type="submit" value="Upload">Submit</button>
 </form>

 <script type="text/javascript" src='/js/mainPage.js'></script>
</body>
</html>