*{
  box-sizing: border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

body {
  font-size: 62.5%;
  background: rgba(71, 197, 255, 0.911)
}
h1 { 
  font-family: 'Anton';
  font-size: 5REM;
  text-align: center;
  padding: 5REM;
}

.card {
  padding-top: 2REM;
}

.login {
    max-width: 50%;
    align-self: center;
    padding-left:25px;
    padding-right:25px;
}

.register {
  margin-top: 0.1REM;
}

h3 {
  padding-top: 1REM;
}

.test-button {
  text-align: center;
  font-size: 1.2rem;
}